<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
  <app-header></app-header>

  <app-sidebar></app-sidebar>

  <div class="page-wrapper">
    <div class="container-fluid">
      <!-- BREADCRUMB -->
      <app-breadcrumb></app-breadcrumb>

      <!-- SISTEMA DE RUTAS -->
      <router-outlet></router-outlet>

      <!-- footer -->
      <!-- ============================================================== -->
      <footer class="footer">© 20xx Admin Pro by wrappixel.com</footer>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->

<app-modal-imagen></app-modal-imagen>
